<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-black jumbo-container font-weight-bold">
            <h1 class="display-1">PRODUKTY</h1>
        </div>
    </div>
    <div class="col-6 offset-3 font-weight-bold">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Producent</th>
                <th scope="col">Cena</th>
                <th scope="col">Ilość sztuk dostepnych</th>
                <th scope="col">Dodaj do magazynu</th>
                <th scope="col">Do koszyka</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="product:${products}">
                <th scope="row" th:text="${product.id}">1</th>
                <td th:text="${product.name}">maść</td>
                <td th:text="${product.producer}">Polfarma</td>
                <td th:text="${product.price} +' zł'">20</td>
                <td th:text="${product.amount}">3</td>
                <td>
                    <a th:href="@{/addQuantity/{id} (id = ${product.id})}" class="btn btn-primary text-white"><i class="fas fa-plus"></i></a>
                </td>
                <form method="post" th:action="@{/addProductToCart/{id} (id = ${product.id})}">
                    <td>
                        <input type="number" value="0" min="1" th:max="${product.amount}" th:name="quantity">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" ><i class="fas fa-shopping-cart"></i></button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <div th:if="${products.isEmpty()}" class="text-center">
        <h2>Brak produktów</h2>
    </div>
    <br>
    <div class="text-center">
        <a th:href="@{/addProduct}" class="btn btn-success text-white">Dodaj produkt</a>
        <a th:href="@{/}" class="btn btn-primary text-white">Strona główna</a>
        <a th:href="@{/cart}" class="btn btn-dark text-white"><i class="fas fa-shopping-cart"></i> Koszyk</a>
    </div>

</div>
</body>
</html>
